@page "/"

<h1>Create user account</h1>

<EditForm Model="@this" OnValidSubmit="@HandleValidSubmit">
    <p>
        Username:
        <input bind="UserName" class="@context.ClassName(() => UserName)" />
    </p>
    <p>
        Accept terms:
        <input type="checkbox" bind="AcceptsTerms" class="@context.ClassName(() => AcceptsTerms)" />
        <ValidationMessage For="@(() => AcceptsTerms)" />
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>

    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@functions {
    [Required]
    [StringLength(6)]
    public string UserName { get; set; }

    [Range(typeof(bool), "true", "true", ErrorMessage = "You gotta tick the box!")]
    public bool AcceptsTerms { get; set; }

    void HandleValidSubmit(EditContext editContext)
    {
        Console.WriteLine("You did submit");
        editContext.ClearModifications();
    }
}
